@import "normalize.css";
@import 'home'
@import 'nav'
@import 'bin'
@import 'post'
@import 'media'
@import 'meta'
@import 'Reactions'
@import 'modal'
@import 'error'
@import 'utils'
@import 'popover'

*
  box-sizing border-box

body
  background-color #272E37
  color #fff
  font-family 'Helvetica Neue', sans-serif

  &.modal-open
    overflow hidden

a
  color #fff
  text-decoration none
  &:hover
    text-decoration underline

.container
  padding 75px 0
  margin 0 auto
  width 90%
  max-width 700px
  // text-align center

ul
  list-style none
  margin 0
  padding 0