.media-youtube
  border 0
  box-shadow 0 2px 0 rgba(black, 50%)
  overflow hidden
  border-radius 3px

.media-image
  border-radius 3px
  box-shadow 0 2px 0 rgba(black, 50%)
  max-width 100%
  margin 0 auto
  display block
  
.media-video
  max-width 100%
  