.media-frame
  > *
    max-width 100%
    
.media-youtube
  border 0
  box-shadow 0 2px 0 rgba(black, 50%)
  overflow hidden
  border-radius 3px
  width 100%

.media-image
  border-radius 3px
  box-shadow 0 2px 0 rgba(black, 50%)
  max-width 100%
  margin 0 auto
  display block
  
.media-video
  width 100%

.media-spotify
  width 100%
  height 80px

.media-vimeo *
  width 100%
  height 400px

.media-soundcloud *
  width 100%
  
.media-link-description
  opacity .5
  font-size 14px
  line-height 20px
  margin 0