.post-meta
  display flex
  margin-top 16px

.post-meta-left
  flex 1
  text-align left
  
.post-meta-right
  flex 1
  text-align right
  line-height 42px
  color rgba(#67A9EB, 100%)
  
  a
    color rgba(#67A9EB, 100%)
  
  