.nav
  padding 10px 15px
  display flex

.nav-left
  flex 1
  text-align left
  
.nav-right
  flex 3
  text-align right
  
.nav-logo-wrapper
  display inline-block
  position relative
  
.nav-logo
  font-size 16px
  line-height 26px

.nav-logo-menu
  position absolute
  top 100%
  left 0
  width 100px
  border-radius 3px
  background-color white
  color black
  padding 10px

.nav-right-inner
  font-size 16px
  line-height 26px

.nav-right-ul
  li
    display inline-block
    margin-left 30px

// nav user (right side)
.nav-user-avatar
  width 30px
  border-radius 15px
  display inline-block
  vertical-align top
  margin-left 8px

// nav users popover
.nav-users
  display inline-block

.nav-users-link
  cursor pointer
  
.nav-users-list
  font-size 14px
  line-height 18px

.nav-users-item
  color #333
  padding 4px 0
  
.nav-users-popover
  padding 5px 10px
  top 30px
  left 5px
  min-width 140px

// bin bookmarklet popover
.bin-option
  display inline-block
  
  
.bin-option-link
  cursor pointer
  display inline-block
  width 16px
  vertical-align top
  margin-top 2px
  margin-left 6px
  img
    width 100%
    filter brightness(0) invert(1)
    -webkit-filter brightness(0) invert(1)
    opacity .25

.bin-settings-link
  width 20px
  margin-top 3px
  
.bin-option-popover
  color #333
  font-size 14px
  line-height 18px
  padding 10px
  min-width 200px
  
  p
    margin 0
    margin-bottom 6px
    &:last-child
      margin-bottom 0

.bin-bookmark-popover
  min-width 300px
  
.bin-invite-url
  white-space nowrap
  

// bin invite popover
.bin-invite
  display inline-block
  
.bin-invite-link
  cursor pointer
  display inline-block
  width 16px
  vertical-align middle
  margin-left 6px
  img
    width 100%
    filter brightness(0) invert(1)
    -webkit-filter brightness(0) invert(1)
    opacity .25

.bin-invite-popover
  color #333
  font-size 14px
  line-height 18px
  padding 10px
  min-width 140px
  p
    margin 0
    margin-bottom 6px
    &:last-child
      margin-bottom 0

.bin-invite-url
  white-space nowrap

.bin-bookmark-link
  display inline-block
  font-weight 500
  padding 0 15px
  background-color #1E824C
  border-radius 3px
  box-shadow 0 2px 0 darken(#1E824C, 25%)
  line-height 36px
  margin 6px 0
  
  &:hover
    text-decoration none
    background-color lighten(#1E824C, 10%)