.nav
  padding 15px
  display flex

.nav-left
  flex 1
  text-align left
  
.nav-right
  flex 1
  text-align right
  
.nav-logo-wrapper
  display inline-block
  position relative
  
.nav-logo
  font-size 32px
  line-height 38px

.nav-logo-menu
  position absolute
  top 100%
  left 0
  width 100px
  border-radius 3px
  background-color white
  color black
  padding 10px

.nav-right-inner
  line-height 38px

.nav-right-ul
  li
    display inline-block
    margin-left 30px

// nav-users-popover

.nav-users
  display inline-block

.nav-users-link
  cursor pointer
  
.nav-users-list
  font-size 14px
  line-height 18px

.nav-users-item
  color #333
  padding 4px 0
  
.nav-users-popover
  padding 10px
  top 40px
  left 10px
  min-width 140px