.nav
  padding 15px
  display flex

.nav-left
  flex 1
  text-align left
  
.nav-right
  flex 1
  text-align right
  
.nav-logo-wrapper
  display inline-block
  position relative
  cursor pointer
  
.nav-logo
  font-size 32px
  line-height 38px

.nav-logo-menu
  position absolute
  top 100%
  left 0
  width 100px
  border-radius 3px
  background-color white
  color black
  padding 10px

.logged-in
  line-height 38px